verifier:
  verification_keys_paths:
    sha1: "./verification_keys/registerIdentityLight160.json"
    sha224: "./verification_keys/registerIdentityLight224.json"
    sha256: "./verification_keys/registerIdentityLight256.json"
    sha384: "./verification_keys/registerIdentityLight384.json"
    sha512: "./verification_keys/registerIdentityLight512.json"
  contract_artifacts_paths:
    sha1: "./contract_artifacts/bin160.hex"
    sha224: "./contract_artifacts/bin224.hex"
    sha256: "./contract_artifacts/bin256.hex"
    sha384: "./contract_artifacts/bin384.hex"
    sha512: "./contract_artifacts/bin512.hex"
  master_certs_path: "/masterList.dev.pem"
  disableTimeChecks: false
  disableNameChecks: false
  tmpFilePath: "tmp/"

addresses:
  registration_contract: a2e2Cbbd0BAa74FE1bb4b61B12D420072806FFe0
  verifiers:
    sha1: 50f07F4E66Cc7A09186120B6e0152602768923ac
    sha224: b83D5fd8A498482b123EE1837B86B82CCd33240D
    sha256: 91E3d9ef73afC08E083719e8CF052c1d810aF191
    sha384: Abf2Fef1aF4ca7cB7EB3F4F2169D55C502E086aD
    sha512: b7609357EAEA80C8a064Aa7B9Ff1D7E7b76fDB98
  verifiers_id:
    sha1: 051D97006f2c3659F65de44D8bf77Ee2D5Ff4e5e
    sha224: A67AA14bD2A6502df5813C0E87d87ddE1c1739EF
    sha256: FF165C4eF90612D6b0825a89febE40e04b965311
    sha384: 5D5e55901B1CA2c0C026ed9628CB1E78E8C18213
    sha512: ca49545C83caF06aD8BEd2800Fa2e39Bcab52842

log:
  level: debug
  disable_sentry: true

db:
  url: postgres://ilr:ilr@my_postgres:5432/ilr?sslmode=disable

listener:
  addr: :8000

cop:
  disabled: true
  endpoint: "http://..."
  upstream: "http://..."
  service_name: identity-provider-service
  service_port: 80

# Randomly generated key for testing purpose.
keys:
  signature_key: "01077020101042022d0c137d5c1443b945b305963951c0dd20a03a710bf387f0"
